@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: black;
    color: white;
}

body h1{
    text-align: center;
}

.flex-container{
    display: flex;
}

.text-div1{
    border: 2px transparent;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

.text-div2{
    border: 2px transparent;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

h1{
    padding: 5px;
    border-radius: 20px;
    background-color: orangered;
    animation-name: color;
    animation-duration: 10s;
    width: fit-content;
    position: relative;
    animation-delay: 5s;
}

@keyframes color{
    0% {background-color: green; left:0px; top:0px}
    25% {background-color: blue; left:200px; top:0px}
    50% {background-color: yellow; left:200px; top:200px}
    75% {background-color: purple; left:0px; top:200px}
    100% {background-color: red; left:0px; top:0px}
}
.note-div{
    text-align: center;
    border: 3px double white;
    border-radius: 12px;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
}

.icons{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px){
    body h1{
        color: Yellow;
        font-weight: bold;
    }

    .flex-container{
        display: flex;
        flex-direction: column;
    }

    .text-div1{
        border: 2px transparent;
        margin: 0 auto;
        text-align: left;
        width: 40%;
    }
    
    .text-div2{
        border: 2px transparent;
        margin: 0 auto;
        text-align: left;
        width: 40%;
    }
}